body{
    font-family: "Bahnschrift Condensed";
    background:linear-gradient(black,#0a53be,#0dcaf0,white,black);
}
.mainForm{
    display: flex;
    flex-direction: column;
    width: 25%;
    background: #0dcaf0;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid black;
}
.mainDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14%;
}
.error{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-40px;
}
input{
    margin: 3%;
    height: 35px;
    border-radius: 6px;
    font-family: "Bahnschrift Condensed";
    font-size: 105%;
}
.btn{
    height: 40px;
    margin-top: 5%;
    font-size: 110%;
    background: black;
    color: white;
}
.btn:hover{
    background: rgba(0,0,0,0.84);
    cursor: pointer;
}
.formH1{
    text-align: center;
}