body{
    font-family: "Bahnschrift Condensed";
    background: #0dcaf0;
}
ul input{
    margin: 0;
    background: transparent;
    border: 0;
    font-family: "Bahnschrift Condensed";
    font-size: 110%;
    width: 100%;
    text-align: start;
    padding-top: 5%;
    padding-bottom: 5%;
}
input,li:hover{
    background: rgba(155,155,155,0.47);
}