body{
    font-family: "Bahnschrift Condensed";
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #0dcaf0;
}
img{
    width: 30%;
    height: 450px;
    float: right;
    margin-left:0.5%;
    margin-right: 1%;
    border-radius: 5px;
    background: #0dcaf0;
}
.subject h2{
    font-size: 200%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.subject h3{
    margin-top: 2%;
    padding-top: 2%;
}
.Price{
    width: 29.3%;
    height: 150px;
    border: 1px solid blue;
    margin-left: 0.5%;
    border-radius: 5px;
    box-shadow: 2px 2px #0a53be;
    margin-top: 2%;
    color: blue;
}
.Price h1{
    margin: 5%;
}
.Price h2{
    text-align: right;
    margin-right: 5%;
    margin-top: 10%;
}
.btn{
    background: #0a58ca;
    color: white;
    font-family: "Bahnschrift Condensed";
    width: 78%;
    height: 40px;
    font-size: 110%;
    margin-top: 2%;
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
}
.num{
    font-family: "Bahnschrift Condensed";
    width: 20%;
    font-size: 110%;
    height: 35px;
    margin-top: 1%;
    border-radius: 5px;
}